.Card {
  width: 350px;
  height: 325px;
  cursor: pointer;
}

.cover {
  width: 99%;
  margin: 0 auto;
  height: 200px;
  object-fit: cover;
  border: 0.5px solid gray;
  border-radius: 0.5em;
}

.card-title {
  margin: 0.7em 0;
  line-height: 1em;
  max-height: 2em;
  font-weight: 400;
}

.description {
  line-height: 1em;
  max-height: 2em;
}
