.Blog{
    min-height: 100vh;
    max-width: 60%;
    margin: 0 auto;
    color: white;
    padding-top: 90px;
    box-sizing:border-box;
}

.blog-title{
    margin: 0.5em auto;
    text-align: center;
    font-weight: 400;
}

hr{
    margin: 2em auto;
    border-color: gray;
}